* {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
}

/*Header*/
header {
  display:flex;
  flex-direction: row;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  align-items: center;
  height: 69px;
  z-index: 1;
  justify-content: space-between;
}

.logo {
  margin-left: 10px;
}

img {
  height: 50px;
  align-items: center;

}

span {
  padding-right: 15px;
  text-decoration: underline;
}

/*Content*/
  /*Mission*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.mission {
  height: 700px;
  width: 1200px;
  display:inline-flex;
  flex-direction:column;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  justify-content: center;


}
h2,h4 {
  width: 100%;
  margin: 0;
  text-align: center;
}
h2  {
  font-size: 44px;
  padding-bottom: 20px;
}
h4  {
  padding-bottom: 10px;
}

  /*Featured Tea*/
